.app-download__container {
  width: 300px;

  @media screen and (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 110px;
  }
}

.app-download__text {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-weight: lighter;
  color: $white;
  line-height: 24px;
}

.app-download__icons {
  display: flex;
  justify-content: space-between;

    @media screen and (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
  }
}
