.app-download {
  padding-top: 392px;
  position: relative;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 12% 28%;

  @media screen and (min-width: $tablet-width) {
    padding-top: 100px;
    background-size: 476px 476px;
    background-position: 94% 100%;
  }

   @media screen and (min-width: $desktop-width) {
    background-size: 598px 598px;
    background-position: 94% 100%;
  }
}

.app-download__wrapper {
  background-color: $blue;
  padding-top: 30px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    background-color: transparent;
    width: 360px;
  }

   @media screen and (min-width: $desktop-width) {
    width: 530px;
  }
}

.app-download__text {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-weight: lighter;
  text-align: center;
  color: $white;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 31px;
  padding-top: 20px;

  @media screen and (min-width: $tablet-width) {
    width: 350px;
  }
}

.app-download__icons {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media screen and (min-width: $tablet-width) {
    width: 350px;
  }
}
