.button {
	display: inline-block;
	padding: 5px 40px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	background-color: transparent;
	border-radius: 27px;
	text-align: center;
	text-decoration: none;
	font-family: $base-font;
	&--download {
		color: $baseWhite;
		border: 3px solid $baseWhite;
		margin-top: 28px;
		margin-bottom: 32px;
	}
	&:hover,
	&:focus {
		background-color: $baseWhite;
		color: $basePink;
	}
	&:active {
		background-color: $baseWhite;
		color: $basePink--lighter;
	}
	&--photo-edit {
		min-width: 280px;
		color: $basePink;
		border: 3px solid $basePink;
		margin-bottom: 12px;
		&:hover,
		&:focus {
			background-color: $basePink;
			color: $baseWhite;
		}
		&:active {
			background-color: $basePink;
			color: $basePink--lighter;
		}
	}
	&--disabled {
		min-width: 280px;
		color: rgba($baseBlue, 0.1);
		border: 3px solid rgba($baseBlue, 0.1);
		margin-bottom: 12px;
		&:hover,
		&:focus {
			border: 3px solid rgba($baseBlue, 0.3);
			color: rgba($baseBlue, 0.3);
			background-color: transparent;
		}
		&:active {
			color: rgba($baseWhite, 0.3);
			border: 3px solid rgba($baseBlue, 0.3);
			background-color: rgba($baseBlue, 0.3);
		}
	}
}