.contest-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.contest-form__item {
  box-sizing: border-box;
  border: none;

  @media screen and (min-width: $tablet-width) {
    border: 2px solid $grey;
  }

  &--achievements {
    display: block;
    background-color: $grey;
    padding-bottom: 20px;
    margin-top: 30px;
    box-sizing: border-box;
    order: 3;

    @media screen and (min-width: $tablet-width) {
      order: 5;
    }
  }

  &--review {
    margin-top: 50px;
    box-sizing: border-box;
    order: 7;
    width: 100%;
  }

  &--apps {
    width: 470px;
    order: 5;
    box-sizing: border-box;

    @media screen and (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--name {
    order: 2;
    border: none;
    width: 470px;
    box-sizing: border-box;
  }

  &--user-contacts {
    order: 4;
    border: inherit;
    width: 100%;
    box-sizing: border-box;
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contest-form__subtitle-inner {
  text-transform: uppercase;
  color: $pink;
  font-size: 14px;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.contest-form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  order: 8;
}

.contest-form__note-accent {
  font-size: 14px;
  color: $pink;
  line-height: 30px;
}

.contest-form__note {
  font-size: 14px;
  color: $blue;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-form__textarea {
  display: flex;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
