.contacts {
	padding-top: 50px;
}
.contacts__title {
	color: $baseBlue;
	text-align: center;
	font-weight: normal;
	font-size: 24px;
}
.contacts__subtitle {
	color: $baseBlue;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
}
.contacts__link {
	color: $basePink;
	text-align: center;
	font-weight: normal;
	font-size: 24px;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $baseBlue;
		padding-bottom: 2px;
		border-bottom: 1px solid $baseBlue;
	}
	&:active {
		color: rgba($baseBlue, 0.3);
		border-bottom: none;
	}
}