.features {
	font-family: $base-font;
	text-align: center;
		&__text {
			display: block;
			font-size: 24px;
			color: $blue;
			margin-top: 42px;
		}
}
.features-list {
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: $grey;
		&__title {
			font-size: 18px;
			color: #000000;
		}
		&__info {
			font-size: 14px;
			color: $blue;
		}
}