.features {
  text-align: center;
  padding-top: 40px;
  position: relative;
}

.features__wrapper {
  background-color: $grey;

  &::before {
    @media screen and (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 268px;
      height: 480px;
      left: 126px;
      bottom: 30px;
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
    }

    @media screen and (min-width: $desktop-width) {
      content: none;
    }
  }
}

.features__text {
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: $blue;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 40px;
    line-height: normal;
    font-weight: normal;
    padding: 0;
  }
}

.features__text-wrapper {

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}
