.input__label {
	font-size: 14px;
	line-height: 1.7;
	color: $pink;
	display: block;
	margin-top: 25px;
	margin-bottom: 12px;
}
.input__field {
	font-size: 18px;
	color: $blue;
	padding: 15px 15px;
	border: 2px solid #e5e5e5;
}