.input__label {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  color: $pink;
  margin-top: 25px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.input__field {
  font-size: 18px;
  color: $blue;
  padding: 15px 15px;
  border: 2px solid #e5e5e5;

  &:focus,
  &:active {
    border: 2px solid $pink;
    outline: none;
  }

}
