.menu {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
.menu__item {
	padding-bottom: 20px;
}
.menu__link {
	font-size: 18px;
	font-family: $base-font;
	color: $baseWhite;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	&:hover,
	&:focus {
		color: $basePink;
	}
	&:active {
		color: rgba($basePink, 0.3);
	}
}
