.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  @media screen and (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }
}

.menu__item {
  box-shadow: 0 -1px 0 $black,
    inset 0 1px 0 rgba($white, 0.15);
  background: $blue;

  @media screen and (min-width: $desktop-width) {
    background: transparent;
    box-shadow: none;
    padding-left: 80px;
  }
}

.menu__link {
  display: block;
  font-size: 18px;
  color: $white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 32px;
  padding: 16px;

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    color: rgba($pink, 0.3);
  }

  @media screen and (min-width: $desktop-width) {
      line-height: 18px;
      font-weight: normal;
      text-transform: none;
  }

  &--current {
    @media screen and (min-width: $desktop-width) {
      border-bottom: 2px solid $pink;
    }
  }
}
