.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;

  &--index {
    @media (min-width: $mobile-width) {
      display: none;
    }
  }

  @media screen and (min-width: $mobile-width) {
    flex-direction: column;
  }

	@media screen and (min-width: $tablet-width) {
    flex-direction: row;
  }
}
