.page-navigation__mobile {
  display: flex;
  justify-content: space-between;
  padding: 21px;
}

.page-navigation__toggle {
  display: block;
  font-size: 0;
  background-color: transparent;
  width: 50px;
  height: 25px;
  border: 2px solid $white;
}
