.page-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 64px;
  padding-bottom: 40px;

  &--index {
    display: none;

    @media screen and (min-width: $tablet-width) {
      display: flex;
    }
  }

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 35px;
    padding-bottom: 43px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 65px;
    padding-bottom: 75px;
  }
}
