.photo-editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $grey;

  @media screen and (min-width: $tablet-width) {
    background-color: transparent;
  }

}

.photo-editor__photo-add {
  display: block;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.photo-editor__picture {
  display: block;
  margin: 0 auto;
  padding-top: 20px;

  @media screen and (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.photo-editor__controls {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.photo-editor__control {

   @media screen and (min-width: $desktop-width) {
      display: flex;
   }
}

.photo-editor__wrapper {
  display: block;
  background-color: $grey;
  box-sizing: border-box;

   @media screen and (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 80px;
    padding-right: 55px;
   }
}

.photo-editor__control-button {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  border-radius: 0;
  background-color: transparent;
  width: 44px;
  height: 44px;
  border: none;
  fill: rgba($blue, 0.3);

  &--active {
    fill: $pink;
  }

  &:hover,
  &:focus {
    fill: $pink;
  }

  &:active {
    fill: $pink--lighter;
  }
}

.photo-editor__control-bar {
  display: none;
  width: 280px;
  box-sizing: border-box;
  padding-top: 25px;
  position: relative;

  @media screen and (min-width: $tablet-width) {
    display: block;
    padding-left: 50px;
  }

  &--mobile-active {
    display: block;
  }
}

.photo-editor__scale-bar {
  height: 2px;
  background-color: $blue;
}

.photo-editor__toggle {
  width: 10px;
  height: 10px;
  background-color: $white;
  border: 2px solid $pink;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  right: 25px;

  &--fill {
    left: 90px;
  }

  &--filter {
    right: 60px;
  }
}

.photo-editor__separator {
  display: none;
  width: 100%;
  color: rgba($blue, 0.1);
  background-color: rgba($blue, 0.1);
  height: 1px;

  &--mobile-only {
    display: block;
  }

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}

.photo-editor__buttons {
  display: block;

  @media screen and (min-width: $desktop-width) {
      display: flex;
    }
}