.photo-editor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  background-color: $grey;
}

.photo-editor__photo-add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-editor__picture {
  padding-top: 20px;

  @media screen and (min-width: $tablet-width) {
    padding-right: 350px;
  }
}

.photo-editor__controls {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}

.photo-editor__control-button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  font-size: 0;
  border-radius: 0;
  background-color: transparent;
  width: 44px;
  height: 44px;
  border: none;
  fill: rgba($blue, 0.3);

  &--active {
    fill: $pink;
  }

  &:hover,
  &:focus {
    fill: $pink;
  }

  &:active {
    fill: $pink--lighter;
  }
}

.photo-editor__control-bar {
  width: 280px;
  box-sizing: border-box;
  position: relative;
}

.photo-editor__scale-bar {
  height: 2px;
  background-color: $blue;
}

.photo-editor__toggle {
  width: 10px;
  height: 10px;
  background-color: $white;
  border: 2px solid $pink;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: 25px;
}

.photo-editor__separator {
  width: 100%;
}
