.photo {
  margin-top: 50px;

  @media screen and (min-width: $tablet-width) {
    flex-basis: 280px;
  }
}

.photo__description {
  background-color: $grey;
  padding-bottom: 20px;
  max-width: 280px;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: $blue;
  padding-top: 24px;
  padding-left: 17px;
}

.photo__time {
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
}

.photo__comment {
  text-align: left;
  color: $blue;
  font-weight: normal;
  min-height: 50px;
  padding-left: 17px;
  padding-right: 30px;
  padding-bottom: 20px;

  @media screen and (min-width: $tablet-width) {
    padding-left: 28px;
    padding-top: 31px;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  &--panorama {
    @media screen and (min-width: $tablet-width) {
      padding-top: 14px;
      padding-bottom: 15px;
    }
  }
}

.photo__like {
  padding-left: 50px;
  padding-top: 24px;
  color: $pink;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 17px;
    bottom: 5px;
    width: 12px;
    height: 12px;
    fill: #pink;
    background-image: url("../img/icon-heart.svg");
    background-size: cover;
  }
}
