.radio__control {
  position: absolute;
  display: none;
  margin-top: 10px;
}

.radio__label {
  position: relative;
  cursor: pointer;
  padding-left: 70px;
}

.radio__label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background: $white;
}

.radio__label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $pink;
  opacity: 0;
}

.radio__control::checked + .radio__label::after {
  opacity: 1;
}

.radio {
  padding-top: 20px;
}
