.reviews {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  text-align: center;
  font-family: $base-font;

  @media screen and (min-width: $desktop-width) {
    padding-top: 190px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 50% 22%;
    position: relative;
    padding-bottom: 50px;
  }
}

.reviews__item {
  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  color: $black;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 18px;
    font-size: 24px;
  }
}

.reviews__years {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: $blue;
  }

   @media screen and (min-width: $tablet-width) {
    font-size: 18px;
   }
}

.reviews__text {
  font-size: 14px;
  font-style: normal;
  line-height: 30px;
  color: $blue;

  @media screen and (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.reviews__toggle {
  display: none;

  @media screen and (min-width: $desktop-width) {
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 22px 41px;
    cursor: pointer; 
    top: 50%;
    left: 20px;

    &--next {
      left: 90%;
    }
  }
}