.table {
  text-align: center;
  color: $white;
  width: 100%;
  border: 2px solid $grey;
}

.table__title {
  background-color: $blue;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding: 20px;
}

.table__cost {
  background-color: $blue;
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  display: block;
}

.table__field {
  color: $blue;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  padding: 20px;
  width: 80%;
}

.table__value {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0;
  display: flex;
}

.table__icon-yes {
  fill: #3dc644;
}

.table__icon-no {
  fill: #f25b26;
}