.table {
  text-align: center;
  background-color: $white;
  color: $white;
  width: 100%;
  border-collapse: collapse;
}

.table__title {
  background-color: $blue;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding: 20px;
  border: 2px solid $grey;

  @media screen and (min-width: $tablet-width) {
    &--empty {
      background-color: transparent;
      border: none;
    }
  }
}

.table__cost {
  background-color: $blue;
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  display: block;
}

.table__field {
  color: $blue;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  padding: 20px;
  border: 2px solid $grey;

  @media screen and (min-width: $tablet-width) {
    font-size: 18px;
  }

}

.table__value {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0;
  border: 2px solid $grey;
}

.table__icon-yes {
  fill: #3dc644;
}

.table__icon-no {
  fill: #f25b26;
}